{% extends "layout.njk" %}
{% block  content %}
<main class="container mt-3">
    <h1>{{ title }}</h1>
    <form action="/login" method="POST">
    <p>Username</p>
    <input type="text" name="username">
    <p>Password</p>
    <input type="password" name="password">
    <button type="submit">Login</button>
    </form>
</main>
{% endblock %}