{% extends "layout.njk" %}
{% block  content %}

        <div class="posts text-bg-dark">
            <div class="display">
                <img src="../img/lostsummer.jpg">
                <a href="/users/{{ post.authorId }}">{{ post.username }}</a>
            </div>
            <h1>{{ post.title }}</h1>
            <h3>{{ post.content }}</h3>
        </div>
    <p>Posted at {{ post.createdAt }}</p>
{% endblock %}
