{% extends "layout.njk" %}
{% block  content %}
    {% for row in rows %}
    <a href="/post/{{ row.id }}">
        <div class="posts text-bg-dark">
            <div class="display">
                <img src="../img/lostsummer.jpg">
                <p value="{{ row.authorId }}">{{ name }}</p>
            </div>
            <h1>{{ row.title }}</h1>
            <h3>{{ row.content }}</h3>
        </div>
    </a>
    <p>Posted at {{ row.createdAt }}</p>
    {% endfor %}
{% endblock %}